In [1]:
import pandas as pd

In [4]:
cast = pd.read_csv('data/cast.csv')
cast.head()

,title,year,name,type,character,n
0,The Core,2003,Alejandro Abellan,actor,U.S.S. Soldier,NaN
1,Il momento di uccidere,1968,Remo De Angelis,actor,Dago,9
2,Across the Divide,1921,Thomas Delmar,actor,Dago,4
3,Revan,2012,Diego James,actor,Dago,NaN
4,Un homme marche dans la ville,1950,Fabien Loris,actor,Dago,12

### How many movies are listed in the titles dataframe?

In [47]:
import pandas as pd

In [50]:
cast = pd.read_csv('C:/Users/asmam/Downloads/cast.csv')
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [56]:
num_movies = len (cast)
print (num_movies)

1048575

### How many movies have the title "Hamlet"?

In [59]:
# Count the number of movies with the title "Hamlet"
hamlet_movies = cast[cast['title'] == 'Hamlet']
num_hamlet_movies = len(hamlet_movies)
print(f"How many movies have the title 'Hamlet'? {num_hamlet_movies}")

How many movies have the title 'Hamlet'? 113

### How many movies are titled "North by Northwest"?

In [63]:
# Count the number of movies with the title "North by Northwest"
North_by_Northwest= cast[cast['title'] == 'North by Northwest']
num_North_by_Northwest = len(North_by_Northwest)
print(f"How many movies have the title 'North by Northwest'? {num_North_by_Northwest}")

How many movies have the title 'North by Northwest'? 41

### When was the first movie titled "Hamlet" made?

In [64]:
hamlet_movies = cast[cast['title'] == 'Hamlet']

if not hamlet_movies.empty:
    # Sort the filtered DataFrame by the release year
    sorted_hamlet_movies = hamlet_movies.sort_values(by='year')

    # Get the release year of the first movie titled "Hamlet"
    first_hamlet_movie_year = sorted_hamlet_movies['year'].iloc[0]

    print(f"The first movie titled 'Hamlet' was made in the year {first_hamlet_movie_year}.")

The first movie titled 'Hamlet' was made in the year 1911.

### List all of the "Treasure Island" movies from earliest to most recent.

In [65]:
treasure_island_movies = cast[cast['title'] == 'Treasure Island']

if not treasure_island_movies.empty:
    # Sort the filtered DataFrame by the release year
    sorted_treasure_island_movies = treasure_island_movies.sort_values(by='year')

    # Display the list of "Treasure Island" movies from earliest to most recent
    print("List of 'Treasure Island' movies from earliest to most recent:")
    for index, row in sorted_treasure_island_movies.iterrows():
        print(f"{row['year']} - {row['title']}")

List of 'Treasure Island' movies from earliest to most recent:
1918 - Treasure Island
1918 - Treasure Island
1918 - Treasure Island
1918 - Treasure Island
1920 - Treasure Island
1920 - Treasure Island
1920 - Treasure Island
1920 - Treasure Island
1920 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1934 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1950 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1972 - Treasure Island
1973 - Treasure Island
1985 - Treasure Island
1985 - Treasure Island
1985 - Treasure Island
1985 - Treasure Island
1985 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island
1999 - Treasure Island

### How many movies were made in the year 1950?

In [66]:
# Filter the DataFrame to find movies made in the year 1950
movies_in_1950 = cast[cast['year'] == 1950]

# Count the number of movies made in 1950
num_movies_in_1950 = len(movies_in_1950)

# Print the result
print(f"How many movies were made in the year 1950? {num_movies_in_1950}")

How many movies were made in the year 1950? 7389

### How many movies were made in the year 1960?

In [67]:
# Filter the DataFrame to find movies made in the year 1950
movies_in_1960 = cast[cast['year'] == 1960]

# Count the number of movies made in 1960
num_movies_in_1960 = len(movies_in_1960)

# Print the result
print(f"How many movies were made in the year 1960? {num_movies_in_1960}")

How many movies were made in the year 1960? 5608

### How many movies were made from 1950 through 1959?

In [68]:
# Filter the DataFrame to find movies made between 1950 and 1959
movies_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]

# Count the number of movies made in the 1950s
num_movies_in_1950s = len(movies_in_1950s)

# Print the result
print(f"How many movies were made from 1950 through 1959? {num_movies_in_1950s}")

How many movies were made from 1950 through 1959? 67706

### In what years has a movie titled "Batman" been released?

In [69]:
# Filter the DataFrame to find movies with the title "Batman"
batman_movies = cast[cast['title'] == 'Batman']

if not batman_movies.empty:
    # Get unique years of release for "Batman" movies
    batman_years = batman_movies['year'].unique()
# Sort and display the list of years
    sorted_batman_years = sorted(batman_years)
    print("Years in which a movie titled 'Batman' has been released:")
    for year in sorted_batman_years:
        print(year)

Years in which a movie titled 'Batman' has been released:
1943
1989

 How many roles were there in the movie "Inception"?

In [70]:
# Filter the DataFrame to find roles in the movie "Inception"
inception_roles = cast[cast['title'] == 'Inception']

# Count the number of roles in the movie "Inception"
num_inception_roles = len(inception_roles)

# Print the result
print(f"How many roles were there in the movie 'Inception'? {num_inception_roles}")

How many roles were there in the movie 'Inception'? 27

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [71]:
# Filter the DataFrame to find roles in the movie "Inception"
inception_roles = cast[(cast['title'] == 'Inception') & (cast['n'].isna())]

# Count the number of roles in the movie "Inception" without an "n" value
num_inception_roles_without_n_value = len(inception_roles)

# Print the result
print(f"How many roles in the movie 'Inception' are NOT ranked by an 'n' value? {num_inception_roles_without_n_value}")

How many roles in the movie 'Inception' are NOT ranked by an 'n' value? 8

### But how many roles in the movie "Inception" did receive an "n" value?

In [75]:
# Filter the DataFrame to find roles in the movie "Inception" with an "n" value
inception_roles_with_n_value = cast[(cast['title'] == 'Inception') & (~cast['n'].isna())]

# Count the number of roles in the movie "Inception" with an "n" value
num_inception_roles_with_n_value = len(inception_roles_with_n_value)

# Print the result
print(f"How many roles in the movie 'Inception' received an 'n' value? {num_inception_roles_with_n_value}")

How many roles in the movie 'Inception' received an 'n' value? 19

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [76]:
# Filter the DataFrame to find roles in the movie "North by Northwest"
nbnw_cast = cast[(cast['title'] == 'North by Northwest') & cast['n'].notna()]

# Sort the cast by their "n" values
nbnw_cast_sorted = nbnw_cast.sort_values(by='n')

# Display the cast in their correct "n"-value order
print(nbnw_cast_sorted[['n', 'name']])

           n               name
840374   1.0         Cary Grant
343701   5.0     Leo G. Carroll
642085  11.0  Robert Ellenstein
447893  13.0    Philip Coolidge
198496  15.0       Edward Binns

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [77]:
# Filter the DataFrame to find roles in the movie "Sleuth" released in 1972
sleuth_1972_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 1972) & cast['n'].notna()]

# Sort the cast by their "n" values
sleuth_1972_cast_sorted = sleuth_1972_cast.sort_values(by='n')

# Display the entire cast in "n"-order
print(sleuth_1972_cast_sorted[['n', 'name']])

          n            name
314691  2.0   Michael Caine
360365  3.0  Alec Cawthorne

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [78]:
# Filter the DataFrame to find roles in the movie "Sleuth" released in 2007
sleuth_2007_cast = cast[(cast['title'] == 'Sleuth') & (cast['year'] == 2007) & cast['n'].notna()]

# Sort the cast by their "n" values
sleuth_2007_cast_sorted = sleuth_2007_cast.sort_values(by='n')

# Display the entire cast in "n"-order
print(sleuth_2007_cast_sorted[['n', 'name']])

          n           name
314692  1.0  Michael Caine

### How many roles were credited in the silent 1921 version of Hamlet?

In [80]:
# Filter the DataFrame to find roles in the silent 1921 version of "Hamlet"
hamlet_1921_roles = cast[(cast['title'] == 'Hamlet') & (['year'] == 1921)]

# Count the number of credited roles in the silent 1921 version of "Hamlet"
num_hamlet_1921_roles = len(hamlet_1921_roles)

# Print the result
print(f"How many roles were credited in the silent 1921 version of Hamlet? {num_hamlet_1921_roles}")

How many roles were credited in the silent 1921 version of Hamlet? 0

### How many roles were credited in Branaghâ€™s 1996 Hamlet?

In [81]:
# Filter the DataFrame to find credited roles in Branagh's 1996 version of "Hamlet"
branagh_hamlet_roles = cast[(cast['title'] == 'Hamlet') & (cast['year'] == 1996) & (cast['name'] == 'Kenneth Branagh')]

# Count the number of credited roles in Branagh's 1996 version of "Hamlet"
num_branagh_hamlet_roles = len(branagh_hamlet_roles)

# Print the result
print(f"How many roles were credited in Branagh's 1996 Hamlet? {num_branagh_hamlet_roles}")

How many roles were credited in Branagh's 1996 Hamlet? 1

### How many "Hamlet" roles have been listed in all film credits through history?

In [82]:
# Filter the DataFrame to find all roles in films titled "Hamlet"
all_hamlet_roles = cast[cast['title'] == 'Hamlet']

# Count the total number of "Hamlet" roles listed in film credits through history
num_hamlet_roles = len(all_hamlet_roles)

# Print the result
print(f"How many 'Hamlet' roles have been listed in all film credits through history? {num_hamlet_roles}")

How many 'Hamlet' roles have been listed in all film credits through history? 113

### How many people have played an "Ophelia"?

In [83]:
# Filter the DataFrame to find all roles played by individuals with the character name "Ophelia"
ophelia_roles = cast[cast['character'] == 'Ophelia']

# Count the number of unique individuals who have played the role of "Ophelia"
num_ophelia_actors = len(ophelia_roles['name'].unique())

# Print the result
print(f"How many people have played an 'Ophelia'? {num_ophelia_actors}")

How many people have played an 'Ophelia'? 4

### How many people have played a role called "The Dude"?

In [84]:
# Filter the DataFrame to find all roles played by individuals with the character name "The Dude"
the_dude_roles = cast[cast['character'] == 'The Dude']

# Count the number of unique individuals who have played a role called "The Dude"
num_the_dude_actors = len(the_dude_roles['name'].unique())

# Print the result
print(f"How many people have played a role called 'The Dude'? {num_the_dude_actors}")

How many people have played a role called 'The Dude'? 6

### How many people have played a role called "The Stranger"?

In [87]:
# Filter the DataFrame to find all roles played by individuals with the character name "The Dude"
the_Stranger_roles = cast[cast['character'] == 'The Stranger']

# Count the number of unique individuals who have played a role called "The Stranger"
num_the_Stranger_actors = len(the_Stranger_roles['name'].unique())

# Print the result
print(f"How many people have played a role called 'The Stranger'? {num_the_Stranger_actors}")

How many people have played a role called 'The Stranger'? 80

### How many roles has Sidney Poitier played throughout his career?

In [88]:
# Filter the DataFrame to find all roles played by Sidney Poitier
sidney_poitier_roles = cast[cast['name'] == 'Sidney Poitier']

# Count the number of roles played by Sidney Poitier throughout his career
num_sidney_poitier_roles = len(sidney_poitier_roles)

# Print the result
print(f"How many roles has Sidney Poitier played throughout his career? {num_sidney_poitier_roles}")

How many roles has Sidney Poitier played throughout his career? 0

### How many roles has Judi Dench played?

In [89]:
# Filter the DataFrame to find all roles played by Judi Dench
judi_dench_roles = cast[cast['name'] == 'Judi Dench']

# Count the number of roles played by Judi Dench throughout her career
num_judi_dench_roles = len(judi_dench_roles)

# Print the result
print(f"How many roles has Judi Dench played? {num_judi_dench_roles}")

How many roles has Judi Dench played? 0

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [90]:
# Filter the DataFrame to find supporting roles (n=2) played by Cary Grant in the 1940s
cary_grant_supporting_roles = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 2) & (cast['year'] // 10 == 194)]

# Sort the roles by year
cary_grant_supporting_roles_sorted = cary_grant_supporting_roles.sort_values(by='year')

# Display the supporting roles in order by year
print(cary_grant_supporting_roles_sorted[['year', 'title']])

        year             title
840371  1940  My Favorite Wife
840381  1941    Penny Serenade

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [91]:
# Filter the DataFrame to find leading roles (n=1) played by Cary Grant in the 1940s
cary_grant_leading_roles = cast[(cast['name'] == 'Cary Grant') & (cast['n'] == 1) & (cast['year'] // 10 == 194)]

# Sort the roles by year
cary_grant_leading_roles_sorted = cary_grant_leading_roles.sort_values(by='year')

# Display the leading roles in order by year
print(cary_grant_leading_roles_sorted[['year', 'title']])

        year                                 title
840397  1940               The Howards of Virginia
840353  1940                       His Girl Friday
840399  1940                The Philadelphia Story
840386  1941                             Suspicion
840401  1942                  The Talk of the Town
840377  1942                 Once Upon a Honeymoon
840344  1943                     Destination Tokyo
840369  1943                             Mr. Lucky
840370  1943                             Mr. Lucky
840378  1944                      Once Upon a Time
840336  1944                  Arsenic and Old Lace
840373  1944             None But the Lonely Heart
840372  1946                         Night and Day
840375  1946                             Notorious
840393  1947      The Bachelor and the Bobby-Soxer
840394  1947                     The Bishop's Wife
840368  1948  Mr. Blandings Builds His Dream House
840348  1948          Every Girl Should Be Married
840357  1949                I Was a Male War Bride

### How many roles were available for actors in the 1950s?

In [92]:
# Filter the DataFrame to find roles from the 1950s
roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959)]

# Count the number of roles available for actors in the 1950s
num_roles_in_1950s = len(roles_in_1950s)

# Print the result
print(f"How many roles were available for actors in the 1950s? {num_roles_in_1950s}")

How many roles were available for actors in the 1950s? 67706

### How many roles were available for actresses in the 1950s?

In [93]:
# Filter the DataFrame to find roles played by actresses in the 1950s
actress_roles_in_1950s = cast[(cast['year'] >= 1950) & (cast['year'] <= 1959) & (cast['type'] == 'actress')]

# Count the number of roles available for actresses in the 1950s
num_actress_roles_in_1950s = len(actress_roles_in_1950s)

# Print the result
print(f"How many roles were available for actresses in the 1950s? {num_actress_roles_in_1950s}")

How many roles were available for actresses in the 1950s? 0

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [94]:
# Filter the DataFrame to find leading roles (n=1) from the beginning of film history through 1980
leading_roles_until_1980 = cast[(cast['n'] == 1) & (cast['year'] <= 1980)]

# Count the number of leading roles available from the beginning of film history through 1980
num_leading_roles_until_1980 = len(leading_roles_until_1980)

# Print the result
print(f"How many leading roles (n=1) were available from the beginning of film history through 1980? {num_leading_roles_until_1980}")

How many leading roles (n=1) were available from the beginning of film history through 1980? 18968

### How many non-leading roles were available through from the beginning of film history through 1980?

In [95]:
# Filter the DataFrame to find non-leading roles (n other than 1) from the beginning of film history through 1980
non_leading_roles_until_1980 = cast[(cast['n'] != 1) & (cast['year'] <= 1980)]

# Count the number of non-leading roles available from the beginning of film history through 1980
num_non_leading_roles_until_1980 = len(non_leading_roles_until_1980)

# Print the result
print(f"How many non-leading roles were available from the beginning of film history through 1980? {num_non_leading_roles_until_1980}")

How many non-leading roles were available from the beginning of film history through 1980? 351862

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [97]:
# Filter the DataFrame to find roles through 1980 with missing or NaN "n" values
roles_without_n_rank_until_1980 = cast[(cast['n'].isna()) & (cast['year'] <= 1980)]

# Count the number of roles without a numeric "n" rank through 1980
num_roles_without_n_rank_until_1980 = len(roles_without_n_rank_until_1980)

# Print the result
print(f"How many roles through 1980 were minor enough that they did not warrant a numeric 'n' rank? {num_roles_without_n_rank_until_1980}")

How many roles through 1980 were minor enough that they did not warrant a numeric 'n' rank? 149991